body {
  font-family: monospace;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgb(69, 90, 100);
}

div.demo-card {
  width: 80vw;
  margin: 20px auto;
  padding: 16px;
}

#enter-ar-info .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: rgb(96, 125, 139);
}

body.unsupported #enter-ar-info {
  display: none;
}

body.ar #enter-ar-info {
  display: none;
}

#unsupported-info {
  display: none;
}

body.unsupported #unsupported-info {
  display: block;
}

#info {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  margin: 1em 1em 2em 1em;
  z-index: 10;
  display: block;
  line-height: 2em;
  text-align: center;
  display: none;
  width: 100%;
}

body.ar #info {
  display: block;
}

#info * {
  color: #fff;
}

#info span {
  background-color: rgba(40, 40, 40, 0.4);
  padding: 0.4em 0.6em;
  width: 80vw;
  border-radius: 0.1em;
}

#stabilization {
  background-image: url(../assets/stabilization.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 10;
  display: none;
}

body.ar #stabilization {
  display: block;
}

body.ar.stabilized #stabilization {
  display: none;
}

#wrong-hosting-root { display: none; }