#room__lobby__container{
  display: none;
}

#form__container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #262625;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: #363739;
  margin: 0;
  font-size: 18px;
  font-size: 300;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #3f434a;
}

.form__field__wrapper button[type="submit"] {
  margin-top: 32px;
  cursor: pointer;
  background-color: #845695;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  gap: 10px;
}

.form__field__wrapper button[type="submit"] svg {
  fill: #ede0e0;
  width: 20px;
}

#avatar__selection {
  margin-right: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #845695;
}

#room__lobby-container {
  margin: 0 4vw;
  margin-top: 15vh;
  display: grid;
  height: min-content;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.room__lobby-holders {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36vh;
  background-color: #1e1e1e;
  border-radius: 20px;
  border: 0.5px solid white;
}

.room__lobby-main {
  grid-column-start: 1;
  grid-column-end: 3;
}
